<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Change Password</title>
  </head>
  <body>
    <div>
      <div>
        If password is changed successfully, you would be logged out and would
        be redirected to login page.
      </div>
      <form method="POST" action="{% url 'password_change' %}">
        {% csrf_token %} {{ form }}
        <input type="submit" value="Change Password" />
      </form>
    </div>
  </body>
</html>
